# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York', 'DC']`

In [6]:
places = [" ","Argentina", " ", "San Diego", "", "  ", "", "Boston", "New York", "DC", "          "]

# Remove all of the empty string

In [11]:
list(filter(lambda place: place.strip(), places))

['Argentina', 'San Diego', 'Boston', 'New York', 'DC']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name *case insensitive*...<br><b>Hint: Use the ".sort()" method or the "sorted()" function and access the key keyword argument"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [63]:
authors = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield", "David hassELHOFF", "Gary A.J. Bernstein"]

authors.sort(key=lambda x: x.split()[-1].lower())

print(authors)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]
`

In [61]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]

solution = list(map(lambda x: (x[0], (x[1] * 9/5) + 32), places))

print(solution)

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p> <p>More information on the Fibonacci Sequence <a href="https://en.wikipedia.org/wiki/Fibonacci_sequence" target="_blank">here</a>. Start the sequence with `0,1,1,...`.</p>

In [8]:
def fibonacci(n):
    fib_seq = [0]
    a, b = 0, 1
    while len(fib_seq) < n:
        fib_seq.append(b)
        a, b = b, a + b
    return fib_seq

num1= int(input("Enter a number to see the magic of fibonacci... "))

solution = fibonacci(num1)

print(solution)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Exercise #5<br>
<p>Create a generator that takes a number argument and yields that number squared down to 0, then call the generator and iterate through and print the result.</p>

In [10]:
def squares(n):
    if n >= 0:
        yield n ** 2
        yield from squares(n - 1)

num2 = int(input("Enter a number to see the magic of squares... "))

for i in squares(num2):
    print(i)

# 100
# 81
# 64
# 49
# 36
# 25
# 16
# 9
# 4
# 2
# 1
# 0

100
81
64
49
36
25
16
9
4
1
0